.shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  flex: 1;
  padding: 16px;
  max-width: 640px;
  margin: 0 auto 72px;
  width: 100%;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .main {
    margin-bottom: 88px;
  }
}

